pytz~=2024.2
python-dotenv~=1.0.1
feedparser~=6.0.11
beautifulsoup4~=4.12.3
requests~=2.32.3
Markdown~=3.7
timezonefinder~=6.5.3
geopy~=2.4.1
icalendar~=6.0.0
python-dateutil~=2.9.0.post0
todoist_api_python~=2.1.7
py-sudoku~=2.0.0