pytz~=2024.2
waitress~=3.0.2
cryptography~=44.0.1
python-dotenv~=1.2.1
Flask~=3.1.0
Flask-Cors~=6.0.1
APScheduler~=3.11.0
feedparser~=6.0.11
requests~=2.32.5
beautifulsoup4~=4.14.3
Markdown~=3.7
timezonefinder~=6.6.3
geopy~=2.4.1
icalendar~=6.3.2
python-dateutil~=2.9.0.post0
openai~=1.109.1
todoist_api_python~=3.1.0
py-sudoku~=2.0.0
Werkzeug>=3.1.4
word_search_generator~=5.0.0
